<!-- BLOQUE DE DIRECTIVAS DE ATRIBUTO -->

<p [ngStyle]="{color: 'tomato',fontWeight:'bolder'}">Lista de elementos</p>


<p ngClass="underline">Aqui vamos a recorrer la lista y mostrar varios elementos</p>

<p [ngClass]="['underline','small']">Aun no hay elementos en las lista</p>

<p [ngClass]="{underline:false, small: true}">Recomendamos crear un elemento</p>

<!-- BLOQUE DE DIRECTIVAS ESTRUCTURALES -->

<button (click)="cambiarCargando()">
    {{cargando ? 'Terminar Carga': 'Iniciar Carga'}}
</button>

<ng-container *ngIf="!cargando; else templateEspera">
    <p>¡Todo Listo!</p>
</ng-container>
<ng-template #templateEspera>
    <p>Cargando...</p>
    <p>Espere a que termine el proceso</p>
</ng-template>

<!-- EXPLICACION BLOQUE DE DIRECTIVA ngFor -->
<!-- Recorremos la lista de productos-->
<div *ngFor="let producto of listaElementos; let i = index; let even = even">
    <!--Ambito de FOR donde tenemos acceso a "producto"-->
    <div [ngStyle]="even?{backgroundColor: 'blue', color: 'white'}:{backgroundColor: 'green', color: 'white'}" class="producto">
        <p>ID: {{i+1}}</p>
        <p>{{producto.nombre}} - {{producto.precio}}€</p>
        <p>{{producto.descripcion}}</p>
    </div>
</div>

<!-- EXPLICACION BLOQUE DE DIRECTIVA ngSwitch -->

<div [ngSwitch]="opcion">
    <p [id]="1" *ngSwitchCase="1">Opcion 1</p>
    <p [id]="2" *ngSwitchCase="2">Opcion 2</p>
    <p [id]="3" *ngSwitchCase="3">Opcion 3</p>
    <p [id]="4" *ngSwitchCase="4">Opcion 4</p>
    <p *ngSwitchDefault class="cerrar"></p>
</div>
<!-- Seleccion de opcion para el usuario -->
<div>
    <input type="radio" name="opcion" (click)="escogerOpcion(1)"> Has escogido la Opcion 1
    <input type="radio" name="opcion" (click)="escogerOpcion(2)"> Has escogido la Opcion 2
    <input type="radio" name="opcion" (click)="escogerOpcion(3)"> Has escogido la Opcion 3
    <input type="radio" name="opcion" (click)="escogerOpcion(4)"> Has escogido la Opcion 4
    <input type="radio" selected="selected" name="opcion" (click)="escogerOpcion(0)"> Ocultar
</div>

<!-- Concatenar Directivas -->

<p>Productos de mas de 2600€</p>
<div *ngFor="let producto of listaElementos; let i = index; let even = even">
    <!--Ambito de FOR donde tenemos acceso a "producto"-->
    <!-- Solo renderizar los productos superiores a 2000-->
    <div *ngIf="producto.precio > 2600" [ngStyle]="even ? {backgroundColor: 'blue', color: 'white'} : {backgroundColor: 'green', color: 'white'}" class="producto">
        <p>ID: {{i+1}}</p>
        <p>{{producto.nombre}} - {{producto.precio}}€</p>
        <p>{{producto.descripcion}}</p>
    </div>
</div>
