<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1> Esta es una prueba </h1>
  <h2>base: {{base}}</h2>
  <button (click)="sumar(base)"> Agregar {{base}}</button>
  <p> contador: {{contador}}</p>
  <button (click)="restar(base)"> Restar {{base}}</button>
  
  <label for="hijo">Nombre del hijo</label>
  <input type="text" [(ngModel)] = "nuevoHijo">
  <h4>{{nuevoHijo}}</h4>
  
  
  <app-usuario 
        *ngFor="let i of usuarios"
        [usuario]="i">
  </app-usuario> 

<!--Input para trabajar NgModel-->
  <input type="text" placeholder="Nombre del Usuario" [(ngModel)]="usuario"/>
  <app-saludo [nombre]="usuario" (mensajeEmitter)="recibirMensajeDelHijo($event)"></app-saludo>
  <!--app-saludo (mensajeEmitter)="recibirMensajeDelHijo($event)"></app-saludo-->
  
</body>
</html>